@layer reset, root, base, grid, text, spacers, button, utilities, mobileGrid, tooltip, responsive;

@import "reset.css" layer(reset);
@import "root.css" layer(root);
@import "base.css" layer(base);
@import "grid.css" layer(grid);
@import "grid-movil.css" layer(mobileGrid);
@import "text.css" layer(text);
@import "spacers.css" layer(spacers);
@import "button.css" layer(button);
@import "utilities.css" layer(utilities);
@import "tooltip.css" layer(tooltip);
@import "responsive.css" layer(responsive);

@layer master {
  body {
    background-image: url(../img/bck.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  nav {
    ul {
      list-style: none;

      li {
        margin-left: calc(var(--gap));
        padding-bottom: 0;
      }
    }
  }

  h2 {
    color: var(--color-primary);
    font-weight: var(--font-weight-medium);
  }

  p.destacado {
    color: var(--color-secondary);
    font-weight: var(--font-weight-medium);
  }

  .tooltips {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .select-custom {
    position: relative;
    display: inline-block;

    select {
      width: 100%;
      padding: 8px 30px;
      text-align: center;
      background-color: var(--color-secondary);
      color: var(--color-quaternary);
      font-size: 18px;
      font-weight: var(--font-weight-bold);
    }

    select:focus {
      outline: none;
      border: 0;
    }
  }

  .logos {
    max-width: 50%;
    margin: 0 auto;
  }

  .item:last-child {
    border: 0;
  }

  .tags {
    span {
      border: 1px solid;
      padding: 2px 8px;
      line-height: 2;
    }
  }
}
